<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>

<!-- <style>
    input[type="text"],
    input[type="password"],
    input[type= "email"] {
        width: 350px;
        height: 2rem;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
  }
  .wrong_input{
      color: red;
      border: red 1px solid;
  }
  .message{
      color: black;
      display: none;
  }
  .wrong{
      color: red;
      display: block;
  }

</style> -->

</head>

<body>
    <header>
        <nav>
            <h4><li><a href="/">Sal's Brukina</a></li></h4>
            <ul>
                <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/secret">Customer Interface</a></li>
                <% } else { %>
                <li><a href="#">Sign In As <%= currentUser.username %></a></li>
                <li><a href="/secret">Customer Interface</a></li>
                <li><a href="/logout">LogOut</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="login_container">
            <h1>Login Page</h1>
            <form action="/login" method="POST">
                <input class="wrong_input" type="text" name="username" placeholder="Username">
                <div>
                    <input class="wrong_input" type="password" name="password" placeholder="Password">
                    <p class="wrong message">Username or Password is incorrect</p>
                </div>
                <button>Login</button>
            </form>
        </div>
    </div>
    

<script>
    const passwordInput = document.querySelector('input[name="password"]');
    const username = document.querySelector("input[name='username']");
    const message = document.querySelector(".wrong")
    passwordInput.addEventListener('focus', function() {
            message.classList.remove("wrong");
            passwordInput.classList.remove("wrong_input");
            username.classList.remove("wrong_input");
    });
    passwordInput.addEventListener('focus', function() {
        message.classList.remove("wrong");
        passwordInput.classList.remove("wrong_input");
        username.classList.remove("wrong_input");
    });
</script>
</body>
</html>