<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1>This is the HomePage</h1>
    <ul>
        <li>
            <a href="/signUp"> SignUP </a>
        </li>
        <li>Or</li>
        <li>
            <a href="/login" >Login</a>
        </li>
    </ul>
</body>
</html>