<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login page</title>
</head>
<body>
    <header>
        <nav>
            <h4><li><a href="/">Sal's Brukina</a></li></h4>
            <ul>
                <li><a href="/secret">Customer Interface</a></li>
                <li><a href="/signup">Sign Up</a></li>

            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="login_container">
            <h1>Login Page</h1>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="Username">
                <div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button>Login</button>
            </form>
        </div>
    </div>
    <SCript>
    

    </SCript>
</body>
</html>