*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



body{
  width: 100%;
  min-height: 100vh;
  margin: 0px;
}

header{
  height: 7vh;
  width: 100%;
  background-color: #333;;
}

header a{
  padding: 0px;
  background-color: transparent;
  color: white;
  text-decoration: none;
}

header a:hover{
  color: aquamarine;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-inline: 1rem 2rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
    text-align: center;
  }
  
  /* Center the form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
    ;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="password"],
  input[type= "email"] {
    width: 400px;
    height: 3.5rem;
    padding: 10px;
    gap: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .emailMessage{
    display: none;
    color: red;
  }
  
  button {
    padding: 15px 25px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover{
    background-color: white;
    color: #4caf50;
  }
 
  
  a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
li {
    text-align: center;
    list-style: none;
  }

.container{
  width: 100%;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #605cd4;
}

.sign_up-container,
.login_container{
    padding: 4rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(238, 189, 143, 0.568);
    box-shadow: #4133190f 0px 0px 10px 20px;
    margin-block: 2rem;
}

p a{
    padding: 0px;
    background-color: rgba(238, 189, 143, 0.568);
    color: blue;
}

.wrong_input{
    color: red;
    border: red 1px solid;
}

.message{
    color: black;
    display: none;
}

.wrong{
    color: red;
    display: block;
}

.links{
  display: none;
}


@media screen and (max-width: 50rem) {
  .burger{
    display: flex;
}

.desktop_links{
  display: none;
} 

  form{
    width: 100%;
  }

  .sign_up-container,
  .login_container{
    width: 95%;
    padding: 2rem;
  }

  input[type="text"],
  input[type="password"],
  input[type= "email"]{
    width: 100%;
  }

}
